- content_for :title, 'My sessions'

- log_out_all = button_to('Log out all sessions', destroy_all_account_sessions_path, method: :delete,
    data: { turbo_confirm: 'Terminate all sessions including this one? You will be signed out.' },
    class: 'btn btn-outline-danger')

= page_header('My sessions', action: log_out_all)

%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th IP
      %th User agent
      %th Last seen
      %th Started
      %th
  %tbody
    - @sessions.each do |s|
      %tr
        %td
          %code.small= s.ip_address
          - if current_user_session && current_user_session.id == s.id
            %span.badge.bg-info.ms-1 This session
        %td.small= s.user_agent.to_s.truncate(80)
        %td= l(s.last_seen_at)
        %td= l(s.created_at)
        %td
          = button_to 'Terminate', account_session_path(s), method: :delete,
              data: { turbo_confirm: 'Terminate this session?' },
              class: 'btn btn-sm btn-outline-danger'
