.fieldset
  = simple_form_for(@team, :validation => true, :html => { id: ActionButtonsHelper::PAGE_FORM_ID, :class => 'form-horizontal' }) do |f|
    - if @team.errors.any?
      .alert.alert-danger
        %h4
          = pluralize(@team.errors.count, 'error')
          prohibited saving:
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg

    .form-inputs
      .row.mb-3
        = f.label :name, class: 'col-lg-2 col-md-3 col-form-label'
        .col-sm-6
          = f.text_field :name, {:class => 'form-control', :required => true}

      .row.mb-3
        = f.label :description, class: 'col-lg-2 col-md-3 col-form-label'
        .col-sm-9
          = f.text_field :description, {:class => 'form-control'}

      .row.mb-3
        = label_tag nil, 'Members', class: 'col-lg-2 col-md-3 col-form-label'
        .col-sm-9
          - current_member_ids = @team.user_ids
          - User.order(:username).each do |user|
            .form-check
              = check_box_tag 'team[user_ids][]', user.id, current_member_ids.include?(user.id), id: "team_user_#{user.id}", class: 'form-check-input'
              = label_tag "team_user_#{user.id}", user.username, class: 'form-check-label'
