= simple_form_for(@sales_tax_customer_class, :validation => true, :html => { id: ActionButtonsHelper::PAGE_FORM_ID, :class => 'form-horizontal' }) do |f|
  - if @sales_tax_customer_class.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@sales_tax_customer_class.errors.count, 'error')
        prohibited saving:
      %ul
        - @sales_tax_customer_class.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    .row.mb-3
      = f.label :name, class: 'col-sm-3 col-form-label'
      .col-sm-9
        = f.text_field :name, :class => 'form-control', :placeholder => "National", :required => true
    .row.mb-3
      = f.label :invoice_note, class: 'col-sm-3 col-form-label'
      .col-sm-9
        = f.text_area :invoice_note, :class => 'form-control', :rows => 3
        %small.form-text.text-muted Appears on every invoice.
    .row.mb-3
      .col-sm-9.offset-sm-3
        .form-check
          = f.check_box :vat_id_required, class: 'form-check-input'
          = f.label :vat_id_required, 'Customers in this class must have a VAT ID', class: 'form-check-label'
        %small.form-text.text-muted Uncheck for export / non-EU / B2C classes where a VAT ID is not applicable.
