= simple_form_for(@sales_tax_customer_class, :validation => true, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-6
        = f.label :name
        = f.text_field :name, :class => 'form-control', :placeholder => "National"
    .row
      .col-sm-6
        = f.label :invoice_note
        = f.text_area :invoice_note, :class => 'form-control', :rows => 3
        %small.form-text.text-muted Appears on every invoice.

  %br

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'Cancel', sales_tax_customer_classes_path, :class => "btn btn-secondary"
