= simple_form_for(@sales_tax_customer_class, :validation => true, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    .row.mb-3
      = f.label :name, class: 'col-sm-3 col-form-label'
      .col-sm-9
        = f.text_field :name, :class => 'form-control', :placeholder => "National"
    .row.mb-3
      = f.label :invoice_note, class: 'col-sm-3 col-form-label'
      .col-sm-9
        = f.text_area :invoice_note, :class => 'form-control', :rows => 3
        %small.form-text.text-muted Appears on every invoice.

  %br

  = action_buttons_wrapper do
    = f.button :submit, :class => 'btn btn-primary'
    = cancel_button(@sales_tax_customer_class)
