%p
  %b Name:
  = @sales_tax_customer_class.name
%p
  %b Invoice note:
  = @sales_tax_customer_class.invoice_note

= action_buttons_wrapper do
  = action_button 'Edit', edit_sales_tax_customer_class_path(@sales_tax_customer_class), :primary
  = action_button 'Back', sales_tax_customer_classes_path, :secondary
