#{t('mailers.invoice.greeting', customer_name: @invoice.customer.name)}
\
#{t('mailers.invoice.main_message')}
\
#{t('mailers.invoice.document_number', document_number: @invoice.document_number)}
- if @invoice.cust_order.present?
  #{t('mailers.invoice.order_label')} #{@invoice.cust_order}
- if @invoice.cust_reference.present?
  #{t('mailers.invoice.reference_label')} #{@invoice.cust_reference}
#{t('mailers.invoice.due_date_label')} #{@invoice.due_date}
\
#{t('mailers.invoice.closing')}
