Dear #{@invoice.customer.name},
\
please find our invoice #{@invoice.document_number} attached.
It will be due on #{@invoice.due_date}.
\
Thank you for your business.
\
= @issuer.legal_name
- @issuer.address.split("\n").each do |line|
  = line
