- content_for :title, t('mailers.invoice.document_number', document_number: @invoice.document_number)

.greeting
  = t('mailers.invoice.greeting', customer_name: @invoice.customer.name)

.main-message
  = t('mailers.invoice.main_message')

.document-highlight
  .document-number
    = t('mailers.invoice.document_number', document_number: @invoice.document_number)
  - if @invoice.cust_order.present?
    .document-detail
      #{t('mailers.invoice.order_label')} #{@invoice.cust_order}
  - if @invoice.cust_reference.present?
    .document-detail
      #{t('mailers.invoice.reference_label')} #{@invoice.cust_reference}
  .due-date
    #{t('mailers.invoice.due_date_label')} #{@invoice.due_date}

.closing
  = t('mailers.invoice.closing')
