= form_for(@invoice) do |f|
  - if @invoice.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@invoice.errors.count, 'error')
        prohibited saving:
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    .row
      .col-sm-4
        .mb-3
          %label.form-label Customer
          = f.collection_select :customer_id, Customer.active.order(:name), :id, :name, { prompt: 'Select customer...' }, {class: 'form-select'}
      .col-sm-4
        .mb-3
          %label.form-label Project
          = f.collection_select :project_id, Project.all, :id, :display_name, { prompt: 'Select project...' }, {class: 'form-select'}
      .col-sm-4
        .mb-3
          %label.form-label Date
          .form-control-plaintext (set at booking)

    .row
      .col-sm-4
        .mb-3
          %label.form-label Customer reference
          = f.text_field :cust_reference, class: 'form-control'
      .col-sm-4
        .mb-3
          %label.form-label Customer Order No
          = f.text_field :cust_order, class: 'form-control'

    .row
      .col-sm-12
        .mb-3
          %label.form-label Prelude
          = f.text_area :prelude, class: 'form-control', rows: 2, placeholder: 'Thank you for your business...'

    - unless @invoice.id.nil?
      %div{data: {controller: 'invoice-lines'}}
        / Lines container
        %div{data: {invoice_lines_target: 'container'}}
          = f.fields_for :invoice_lines do |line_form|
            = render 'invoice_line_fields', f: line_form, line: line_form.object

        / Template for new lines
        %template{data: {invoice_lines_target: 'template'}}
          - new_line = @invoice.invoice_lines.build(type: "item", amount: 0, rate: 0, quantity: 1)
          = f.fields_for :invoice_lines, new_line, child_index: 'NEW_RECORD' do |line_form|
            = render 'invoice_line_fields', f: line_form, line: new_line

        .card.mb-3
          .card-body
            .row
              .col-sm-10.text-end
                Total Net
              .col-sm-2.text-end
                %span{data: {invoice_lines_target: 'total'}}
                  = format_currency(0)

        %br
        = action_buttons_wrapper do
          = f.submit 'Save', class: 'btn btn-primary'
          %button.btn.btn-info{type: 'button', data: {action: 'click->invoice-lines#addLine'}}
            + Add Line
          = cancel_button(@invoice)
    - else
      %br
      = action_buttons_wrapper do
        = f.submit 'Save', class: 'btn btn-primary'
        = cancel_button(@invoice)
