%h1.page-header Book invoice

Document Number:
= @invoice.document_number
%br
published:
= @invoice.published
%br

- if @booking_summary.present?
  %br
  %b Booking Result:
  .alert{class: @booked ? 'alert-success' : 'alert-danger'}
    = @booking_summary
    - if @booking_errors.present?
      %br
      %strong Errors:
      = @booking_errors

  - if @booked
    %details
      %summary View detailed booking log
      %pre
        - session_key = "booking_log_#{@invoice.id}"
        - if session[session_key].present?
          = session[session_key].join("\n")
        - else
          Booking log not available (may have been cleared due to session size limits)

- if @booked and !@invoice.published?
  = button_to 'Book!', book_invoice_path(@invoice, :save => true), class: 'btn btn-warning me-2'

- if @invoice.attachment
  = link_to 'PDF', attachment_path(@invoice.attachment), target: '_blank', data: { turbo: false }, class: 'btn btn-success me-2'

= link_to 'Back to Invoice', @invoice, class: 'btn btn-secondary'
