%h1.page-header Book invoice

Document Number:
= @invoice.document_number
%br
Published:
= @invoice.published

%h4 Detailed booking log
%pre
  - if @booking_log.present?
    = @booking_log.join("\n")
  - else
    Booking log not found

- if !@invoice.published?
  = button_to 'Book!', book_invoice_path(@invoice, :save => true), class: 'btn btn-warning me-2'

- if @invoice.attachment
  = link_to 'PDF', attachment_path(@invoice.attachment), target: '_blank', data: { turbo: false }, class: 'btn btn-success me-2'

= link_to 'Back to Invoice', @invoice, class: 'btn btn-secondary'
