= page_header_with_new_button('Listing invoices', new_invoice_path)

%table.table.table-striped.table-sm
  %tr
    %th Document#
    %th Customer
    %th Project
    %th Date
    %th Cust Reference
    %th Cust Order No
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @invoices.each do |invoice|
    %tr
      %td= invoice.document_number
      %td= invoice.customer.name
      %td= invoice.project && invoice.project.matchcode
      %td= invoice.date
      %td= invoice.cust_reference
      %td= invoice.cust_order
      %td
        - if invoice.published? and not invoice.attachment.nil?
          = link_to 'PDF', attachment_path(invoice.attachment), target: '_blank', data: { turbo: false }
      %td= link_to 'Show', invoice
      %td
        - unless invoice.published?
          = link_to 'Edit', edit_invoice_path(invoice)
      %td
        - unless invoice.published?
          = link_to 'Destroy', invoice, data: { 'turbo-method': 'delete', 'turbo-confirm': "Are you sure you want to delete invoice \"#{invoice.document_number || "##{invoice.id}"}\"?" }

