= page_header_with_new_button('Listing invoices', new_invoice_path)


.bulk-select-container{data: { controller: 'bulk-select' }}
  = form_with url: bulk_send_emails_invoices_path, method: :post, local: true, id: 'bulk-email-form' do |form|
    .btn-toolbar.mb-3{:role=>"toolbar", "aria-label"=>"List toolbar"}
      .btn-group.btn-group-sm.me-2.email-filter{:role=>"group", "aria-label"=>"Invoice filters"}
        = link_to 'All', invoices_path(year: @selected_year, email_filter: 'all'), class: (@email_filter == 'all' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
        = link_to 'Unsent', invoices_path(year: @selected_year, email_filter: 'unsent'), class: (@email_filter == 'unsent' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
        = link_to 'Unpaid', invoices_path(year: @selected_year, email_filter: 'unpaid'), class: (@email_filter == 'unpaid' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')

      - if @email_filter == 'unsent'
        = form.submit 'Send Selected Emails', class: 'btn btn-warning btn-sm me-2 align-self-start', disabled: true, data: { confirm: 'Are you sure you want to send emails for the selected invoices?', 'bulk-select-target': 'submitButton' }

      - if @available_years.any?
        .btn-group.btn-group-sm.ms-auto.year-pagination{:role=>"group", "aria-label"=>"Year navigation"}
          - @available_years.each do |year|
            = link_to year, invoices_path(year: year, email_filter: @email_filter), class: (@selected_year == year ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')

  - if @email_filter == 'unsent' && @invoices.any?
    %table.table.table-striped.table-sm
      %tr
        %th
          %input#select-all{type: 'checkbox', 'data-action': 'change->bulk-select#toggleAll', 'data-bulk-select-target': 'selectAll'}
        %th Document#
        %th Customer
        %th Project
        %th Date
        %th Cust Reference
        %th Cust Order No
        %th E-Mail
        %th Payment
        %th{:width => "3%"}

      - @invoices.each do |invoice|
        %tr
          %td
            = check_box_tag 'invoice_ids[]', invoice.id, false,
              form: 'bulk-email-form',
              'data-action': 'change->bulk-select#updateButton',
              'data-bulk-select-target': 'checkbox',
              class: 'invoice-checkbox'
          %td= link_to(invoice.document_number, invoice)
          %td= invoice.customer.name
          %td= invoice.project && invoice.project.display_name
          %td= format_date(invoice.date)
          %td= invoice.cust_reference
          %td= invoice.cust_order
          %td
            - if invoice.email_sent_at
              %span.badge.bg-success Sent #{format_date(invoice.email_sent_at)}
            - else
              %span.badge.bg-warning Unsent
          %td
            - if invoice.paid?
              %span.badge.bg-success Paid #{format_date(invoice.paid_at)}
            - else
              %span.badge.bg-danger Unpaid
          %td
            - if invoice.published? and not invoice.attachment.nil?
              = link_to 'PDF', attachment_path(invoice.attachment), target: '_blank', data: { turbo: false }, class: 'btn btn-sm btn-outline-success py-0'

  - else
    %table.table.table-striped.table-sm
      %tr
        %th Document#
        %th Customer
        %th Project
        %th Date
        %th Cust Reference
        %th Cust Order No
        %th Payment
        %th{:width => "3%"}

      - @invoices.each do |invoice|
        %tr
          %td
            = link_to(invoice.document_number || "Draft \##{invoice.id}", invoice)
          %td= invoice.customer.name
          %td= invoice.project && invoice.project.display_name
          %td= format_date(invoice.date)
          %td= invoice.cust_reference
          %td= invoice.cust_order
          %td
            - if invoice.published?
              - if invoice.paid?
                %span.badge.bg-success Paid #{format_date(invoice.paid_at)}
              - else
                %span.badge.bg-danger Unpaid
            - else
              %span.badge.bg-secondary Draft
          %td
            - if invoice.published? and not invoice.attachment.nil?
              = link_to 'PDF', attachment_path(invoice.attachment), target: '_blank', data: { turbo: false }, class: 'btn btn-sm btn-outline-success py-0'
            - else
              = list_action_link('Edit', edit_invoice_path(invoice), :edit)
