%h1.page-header
  Invoice
  = @invoice.document_number
  - if not @invoice.published?
    %small
      Draft
  - else
    %small
      Booked

%p
  %b Document number:
  = @invoice.document_number
%p
  %b Customer:
  = @invoice.customer_id
  = @invoice.customer_name || @invoice.customer.name
%p
  %b Project:
  = @invoice.project_id
  = @invoice.project.description if @invoice.project
%p
  %b Date:
  = @invoice.date
%p
  %b Token:
  = @invoice.token
%p
  %b Cust reference:
  = @invoice.cust_reference
%p
  %b Cust order no:
  = @invoice.cust_order
%p
  %b Prelude:
  = @invoice.prelude

%h2
  Lines

- @invoice.invoice_lines.each do |line|
  .row
    .col-sm-12
      %b
        = line.title
  .row
    .col-sm-12
      - (line.description||"").split("\n").each do |desc|
        = desc
        %br
  - if line.type == 'item'
    .row
      .col-sm-4.col-md-2
        Rate:
        = format_currency(line.rate)
      .col-sm-4.col-md-2
        Quantity:
        = line.quantity
      .col-sm-4.col-md-2
        Product class:
        = line.sales_tax_product_class.name if line.sales_tax_product_class
      .col-sm-4.col-md-2.pull-right
        Net:
        = format_currency(line.quantity * line.rate) if line.quantity

%b
  Sum Net:
= format_currency(@invoice.sum_net)
%br
%b
  Sum Total:
= format_currency(@invoice.sum_total)
%br
%br

- unless @invoice.published
  = link_to 'Edit', edit_invoice_path(@invoice), :class => 'btn btn-primary'
  = " "
- if @invoice.attachment
  = link_to 'PDF', @invoice.attachment, :class => 'btn btn-success'
- else
  = link_to 'Preview', preview_invoice_path(@invoice), :class => 'btn btn-info'

= " "
= link_to 'Back', invoices_path, :class => 'btn btn-secondary'

%br
%br

- unless @invoice.published
  = button_to 'Test Booking', book_invoice_path(@invoice, :save => false), :class => 'btn btn-warning'
