= simple_form_for(@sales_tax_product_class, :validation => true, :html => {:class => "form-horizontal"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :placeholder => "Standard goods"
    = f.input :indicator_code, :placeholder => "A"

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to 'Cancel', sales_tax_product_classes_path, :class => "btn btn-danger"
