= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], 'Product Tax Classes', action: action_button('+ New', new_sales_tax_product_class_path, :info, permission: 'sales_tax.edit')

%table.table.table-striped.table-sm
  %tr
    %th Name
    %th Indicator code
    %th Default
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @sales_tax_product_classes.each do |sales_tax_product_class|
    %tr
      %td= sales_tax_product_class.name
      %td= sales_tax_product_class.indicator_code
      %td
        - if sales_tax_product_class.is_default?
          %span.badge.bg-success Default
      %td
        = list_action_link('Edit', edit_sales_tax_product_class_path(sales_tax_product_class), :edit, permission: 'sales_tax.edit')
      %td
        = destroy_link(sales_tax_product_class, "Are you sure you want to delete product class \"#{sales_tax_product_class.name}\"?", permission: 'sales_tax.edit')
