= page_header_with_new_button('Listing Sales Tax Product Classes', new_sales_tax_product_class_path)

%table.table.table-striped.table-sm
  %tr
    %th Name
    %th Indicator code
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @sales_tax_product_classes.each do |sales_tax_product_class|
    %tr
      %td= sales_tax_product_class.name
      %td= sales_tax_product_class.indicator_code
      %td= list_action_link('Edit', edit_sales_tax_product_class_path(sales_tax_product_class), :edit)
      %td= destroy_link(sales_tax_product_class, "Are you sure you want to delete product class \"#{sales_tax_product_class.name}\"?")

