- content_for :title, 'Users'

= breadcrumbs 'Configuration', 'Users', action: action_button('+ Invite user', new_user_invite_path, :info, permission: 'user_invites.manage')

%table.table.table-striped.table-sm
  %thead
    %tr
      %th Username
      %th Full name
      %th Status
      %th Created
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.username, user_path(user)
        %td= user.full_name
        %td
          - if user.blocked?
            %span.badge.bg-danger Blocked
        %td= l(user.created_at)

.mt-4
  = action_button 'View invites', user_invites_path, :secondary, permission: 'user_invites.manage'
