= breadcrumbs 'Configuration', 'Issuer Company', action: action_button('Edit', edit_issuer_company_path, permission: 'issuer_company.edit')

.row
  .col-md-6
    .card
      .card-header
        Company Information
      .card-body
        .row.mb-2
          .col-sm-4
            %strong Short Name:
          .col-sm-8
            = @issuer_company.short_name

        .row.mb-2
          .col-sm-4
            %strong Legal Name:
          .col-sm-8
            = @issuer_company.legal_name

        .row.mb-2
          .col-sm-4
            %strong VAT ID:
          .col-sm-8
            = @issuer_company.vat_id

        .row.mb-2
          .col-sm-4
            %strong Currency:
          .col-sm-8
            = @issuer_company.currency

        .row.mb-2
          .col-sm-4
            %strong Address:
          .col-sm-8
            - @issuer_company.address.split("\n").each do |line|
              %div= line

        .row.mb-2
          .col-sm-4
            %strong Country:
          .col-sm-8
            - if country_unknown?(@issuer_company.country_iso2)
              %span.badge.bg-warning.text-dark Not set
            - else
              = country_name(@issuer_company.country_iso2)

  .col-md-6
    .card
      .card-header
        Banking Information
      .card-body
        .row.mb-2
          .col-sm-4
            %strong Bank:
          .col-sm-8
            = @issuer_company.bankaccount_bank

        .row.mb-2
          .col-sm-4
            %strong BIC:
          .col-sm-8
            = @issuer_company.bankaccount_bic

        .row.mb-2
          .col-sm-4
            %strong Account Number:
          .col-sm-8
            = @issuer_company.bankaccount_number

.row.mt-4
  .col-md-6
    .card
      .card-header
        Document Settings
      .card-body
        .row.mb-2
          .col-sm-4
            %strong Contact Line 1:
          .col-sm-8
            %span.text-pre-wrap= @issuer_company.document_contact_line1

        .row.mb-2
          .col-sm-4
            %strong Contact Line 2:
          .col-sm-8
            %span.text-pre-wrap= @issuer_company.document_contact_line2

        .row.mb-2
          .col-sm-4
            %strong Email From:
          .col-sm-8
            = @issuer_company.document_email_from

        .row.mb-2
          .col-sm-4
            %strong Email Reply-To:
          .col-sm-8
            = @issuer_company.document_email_reply_to

        .row.mb-2
          .col-sm-4
            %strong Email Auto BCC:
          .col-sm-8
            = @issuer_company.document_email_auto_bcc

        .row.mb-2
          .col-sm-4
            %strong Accent Color:
          .col-sm-8
            - if @issuer_company.document_accent_color.present?
              %span.badge.badge-issuer-accent
                = @issuer_company.document_accent_color
            - else
              %em Not set

        .row.mb-2
          .col-sm-4
            %strong PDF Logo:
          .col-sm-8
            - if @issuer_company.pdf_logo.present?
              %span.badge.bg-success Logo uploaded
              - if @issuer_company.pdf_logo_width && @issuer_company.pdf_logo_height
                %small.text-muted (#{@issuer_company.pdf_logo_width}×#{@issuer_company.pdf_logo_height})
            - else
              %em No logo set

        .row.mb-2
          .col-sm-4
            %strong PNG Logo:
          .col-sm-8
            - if @issuer_company.png_logo.present?
              = image_tag png_logo_issuer_company_path, alt: @issuer_company.legal_name, class: 'issuer-logo-preview'
            - else
              %em No logo set

  .col-md-6
    .card
      .card-header
        Reporting
      .card-body
        .row.mb-2
          .col-sm-4
            %strong Email for Reports:
          .col-sm-8
            = @issuer_company.reporting_email

.row.mt-4
  .col-md-6
    .card
      .card-header
        Invoice Footer
      .card-body
        - if @issuer_company.invoice_footer.present?
          = simple_format(@issuer_company.invoice_footer)
        - else
          %em No footer text set
