%h1.page-header Welcome to ABT

%dl
  - @stats.each do |name, value|
    %dt
      = name.capitalize
      %dd
        = value

%div
  %dl
    %dt
      Company Name:
      %dd{:style => "color: #{@data[:issuer_company].document_accent_color}"}
        = @data[:issuer_company].legal_name
    %dt
      Address:
      %dd
        %address
          = @data[:issuer_company].address.gsub("\n", ', ')
    %dt
      VAT ID:
      %dd
        = @data[:issuer_company].vat_id
    %dt
      Bank Account:
      %dd
        = @data[:issuer_company].bankaccount_bank
      %dd
        = @data[:issuer_company].bankaccount_bic
      %dd
        = @data[:issuer_company].bankaccount_number

%div
  - if not @data[:is_setup_done]
    %p
      Quick start: setup sales tax for your country:
    %p
      Start by creating
      %a{:href => new_sales_tax_product_class_path}< product classes
      and then
      %a{:href => new_sales_tax_customer_class_path}< customer classes.
    %p
      When you have both,
      %a{:href => new_sales_tax_rate_path}< create tax rates for them.
