= page_header('Business Dashboard')

.row
  .col-md-8
    .card
      .card-header
        Business Statistics
      .card-body
        .row.mb-3
          .col-md-6
            .card.border.border-success
              .card-body.text-center
                %h2.text-success.mb-1= format_currency(@stats[:cashflow_ytd_total])
                %p.card-text.mb-0 Cashflow YTD
          .col-md-6
            .card.border.border-primary
              .card-body.text-center
                %h2.text-primary.mb-1= @stats[:invoices_ytd_count]
                %p.card-text.mb-0 Invoices YTD

        .row
          .col-md-6
            .card.border.border-success
              .card-body.text-center
                %h2.text-success.mb-1= format_currency(@stats[:invoices_ytd_total])
                %p.card-text.mb-0 Revenue YTD
          .col-md-6
            .card.border.border-info
              .card-body.text-center
                %h2.text-info.mb-1= format_currency(@stats[:invoices_yoy_total])
                %p.card-text.mb-0 Revenue YoY

  .col-md-4
    .card
      .card-header
        Company Information
      .card-body
        - if @data[:issuer_company].png_logo.present?
          .mb-3.text-center
            = image_tag png_logo_issuer_company_path, alt: @data[:issuer_company].legal_name, class: 'issuer-logo-preview'

        - if @data[:issuer_company].document_accent_color.present?
          %h6.text-issuer-accent
            = @data[:issuer_company].legal_name
        - else
          %h6.text-primary
            = @data[:issuer_company].legal_name

        .mb-2
          %strong Address:
          %div
            - @data[:issuer_company].address.split("\n").each do |line|
              %div= line
            %div= country_name(@data[:issuer_company].country_iso2)

        .mb-2
          %strong VAT ID:
          %div= @data[:issuer_company].vat_id

        .mb-2
          %strong Bank:
          %div= @data[:issuer_company].bankaccount_bank
          %div
            = @data[:issuer_company].bankaccount_bic
            = " • "
            = @data[:issuer_company].bankaccount_number

- if @consistency_issues.any?
  .row.mt-4
    .col-12
      - @consistency_issues.each do |issue|
        .alert.alert-warning{role: 'alert'}
          %h5= issue.title
          %ul.mb-0
            - issue.details.each do |line|
              %li= line
          - if issue.fix_path
            .mt-2= link_to issue.fix_label, issue.fix_path, class: 'alert-link'

- if not @data[:is_setup_done]
  .row.mt-4
    .col-12
      .alert.alert-warning
        %h5 Quick Setup Required
        %p.mb-2
          To start using ABT, you need to configure sales tax settings:
        %ol.mb-0
          %li
            Create
            %a{:href => new_sales_tax_product_class_path} product classes
            and mark one as the default
          %li
            Create
            %a{:href => new_sales_tax_customer_class_path} customer classes
          %li
            Define
            %a{:href => new_sales_tax_rate_path} tax rates
