.fieldset
= simple_form_for(@customer, :validation => true, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-6
        = f.label :matchcode
        = f.text_field :matchcode, :class => 'form-control'  #, :required => true
    .row
      .col-sm-6
        = f.label :name
        = f.text_area :name, :class => 'form-control', :rows => 2
    .row
      .col-sm-6
        = f.label :address
        = f.text_area :address, :class => 'form-control', :rows => 3
    .row
      .col-sm-3
        = f.label :vat_id, :label => 'VATID'
        = f.text_field :vat_id, :class => 'form-control'
    .row
      .col-sm-4
        = f.label :email, :label => 'E-Mail'
        = f.text_field :email, :class => 'form-control'
    .row
      .col-sm-2
        = f.label :time_budget
        = f.text_field :time_budget, :class => 'form-control'
    .row
      .col-sm-3
        = f.label :payment_terms_days, 'Payment terms (days)'
        = f.number_field :payment_terms_days, :class => 'form-control', :min => 1, :max => 365, :value => (@customer.payment_terms_days || 30)
    .row
      .col-sm-6
        = f.label :notes
        = f.text_area :notes, :class => 'form-control', :rows => 5
    .row
      .col-sm-6
        = f.label :sales_tax_customer_class_id
        = f.collection_select :sales_tax_customer_class_id, SalesTaxCustomerClass.all, :id, :name, { prompt: 'Select tax class...' }, {:class => 'form-select', :required => true}

  %br

  = action_buttons_wrapper do
    = f.button :submit, :class => 'btn btn-primary'
    = cancel_button(@customer)
