= page_header_with_new_button('Listing customers', new_customer_path)

.mb-3
  .btn-toolbar.mb-3{:role=>"toolbar", "aria-label"=>"List toolbar"}
    .btn-group.btn-group-sm.me-2.status-filter{:role=>"group", "aria-label"=>"Customer status filter"}
      = link_to 'All', customers_path(filter: 'all'), class: (params[:filter] == 'all' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
      = link_to 'Active', customers_path(filter: 'active'), class: (params[:filter] == 'active' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
      = link_to 'Inactive', customers_path(filter: 'inactive'), class: (params[:filter] == 'inactive' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')

%table.table.table-striped.table-sm
  %tr
    %th{:width => "10%"} Matchcode
    %th{:width => "30%"} Name
    %th{:width => "7%"} Status
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @customers.each do |customer|
    %tr
      %td= customer.matchcode
      %td= customer.name
      %td
        - if customer.active?
          %span.badge.bg-success Active
        - else
          %span.badge.bg-secondary Inactive
      %td= list_action_link('Show', customer, :show)
      %td= list_action_link('Edit', edit_customer_path(customer), :edit)
      %td
        - if !customer.used_in_invoices?
          = destroy_link(customer, "Are you sure you want to delete customer \"#{customer.matchcode}\" (#{customer.name})?")
