= page_header_with_new_button('Listing customers', new_customer_path)

%table.table.table-striped.table-sm
  %tr
    %th Matchcode
    %th Name
    %th Time budget
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @customers.each do |customer|
    %tr
      %td= customer.matchcode
      %td= customer.name
      %td= customer.time_budget
      %td= list_action_link('Show', customer, :show)
      %td= list_action_link('Edit', edit_customer_path(customer), :edit)
      %td
        - if customer.used_in_invoices?
          %span.text-muted.small{title: "Cannot delete - customer used in invoices"} Used
        - else
          = destroy_link(customer, "Are you sure you want to delete customer \"#{customer.matchcode}\" (#{customer.name})?")

