= breadcrumbs 'Customers', action: action_button('+ New', new_customer_path, permission: 'customers.edit')

.mb-3
  .btn-toolbar.mb-3{:role=>"toolbar", "aria-label"=>"List toolbar"}
    .btn-group.btn-group-sm.me-2.status-filter{:role=>"group", "aria-label"=>"Customer status filter"}
      = link_to 'All', customers_path(filter: 'all'), class: (params[:filter] == 'all' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
      = link_to 'Active', customers_path(filter: 'active'), class: (params[:filter] == 'active' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
      = link_to 'Inactive', customers_path(filter: 'inactive'), class: (params[:filter] == 'inactive' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')

- show_status_column = params[:filter] == 'all'
%table.table.table-striped.table-sm
  %tr
    %th{:width => "10%"} Matchcode
    - if show_status_column
      %th{:width => "7%"} Status
    %th Name
    %th{:width => "10%"} Team
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @customers.each do |customer|
    %tr
      %td= link_to customer.matchcode, customer
      - if show_status_column
        %td
          - unless customer.active?
            %span.badge.bg-secondary Inactive
      %td= customer.name
      %td= customer.team&.name
      %td
        = list_action_link('Edit', edit_customer_path(customer), :edit, permission: 'customers.edit')
      %td
        - if customer.can_be_deleted?
          = destroy_link(customer, "Are you sure you want to delete customer \"#{customer.matchcode}\" (#{customer.name})?", permission: 'customers.edit')
