= page_header_with_new_button('Listing customers', new_customer_path)

%table.table.table-striped.table-sm
  %tr
    %th Matchcode
    %th Name
    %th Time budget
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @customers.each do |customer|
    %tr
      %td= customer.matchcode
      %td= customer.name
      %td= customer.time_budget
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, data: { 'turbo-method': 'delete', 'turbo-confirm': "Are you sure you want to delete customer \"#{customer.matchcode}\" (#{customer.name})?" }

