%h1 Listing customers

%table.table.table-striped.table-condensed
  %tr
    %th Matchcode
    %th Name
    %th Time budget
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @customers.each do |customer|
    %tr
      %td= customer.matchcode
      %td= customer.name
      %td= customer.time_budget
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }

%br

%i.icon-plus
= link_to 'New Customer', new_customer_path
