%h1.page-header
  Customer
  = @customer.matchcode

%p
  %b Matchcode:
  = @customer.matchcode
%p
  %b Name:
  = @customer.name
%p
  %b Address:
  = @customer.address
%p
  %b VATID:
  = @customer.vat_id
%p
  %b Time budget:
  = @customer.time_budget
%p
  %b Notes:
  = @customer.notes
%p
  %b Sales Tax Class:
  = @customer.sales_tax_customer_class.try(:name)

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path

