%h1.page-header
  Customer
  = @customer.matchcode
  - unless @customer.active?
    %span.badge.bg-warning.ms-2 Inactive

%p
  %b Active:
  - if @customer.active?
    %span.badge.bg-success Yes
  - else
    %span.badge.bg-danger No
%p
  %b Matchcode:
  = @customer.matchcode
%p
  %b Name:
  = @customer.name
%p
  %b Address:
  = @customer.address
%p
  %b E-Mail:
  = @customer.email
%p
  %b VATID:
  = @customer.vat_id
%p
  %b Time budget:
  = @customer.time_budget
%p
  %b Payment terms:
  = @customer.payment_terms_days
  days
%p
  %b Notes:
  = @customer.notes
%p
  %b Sales Tax Class:
  = @customer.sales_tax_customer_class.try(:name)

= action_buttons_wrapper do
  = action_button 'Edit', edit_customer_path(@customer), :primary
  = action_button 'Back', customers_path, :secondary
  - unless @customer.used_in_invoices?
    = button_to 'Delete', @customer, method: :delete, class: 'btn btn-danger', data: { 'turbo-confirm': "Are you sure you want to delete customer \"#{@customer.matchcode}\" (#{@customer.name})?" }
