- offers_action = nav_button('Offers', offers_path(customer_id: @customer.id, year: 'all'), permission: 'offers.view', data: { turbo_prefetch: false })
- invoices_action = nav_button('Invoices', invoices_path(customer_id: @customer.id, year: 'all'), permission: 'invoices.view', data: { turbo_prefetch: false })
- delivery_notes_action = nav_button('Delivery Notes', delivery_notes_path(customer_id: @customer.id, year: 'all'), permission: 'delivery_notes.view', data: { turbo_prefetch: false })
- delete_action = delete_button(@customer, confirm: "Are you sure you want to delete customer \"#{@customer.matchcode}\" (#{@customer.name})?", permission: 'customers.edit') if @customer.can_be_deleted?
- edit_action = action_button('Edit', edit_customer_path(@customer), permission: 'customers.edit')
= breadcrumbs ['Customers', customers_path], @customer.matchcode, actions: [offers_action, delivery_notes_action, invoices_action, delete_action], action: edit_action do
  - unless @customer.active?
    %span.badge.bg-secondary Inactive

.row
  .col-md-6
    .card
      .card-header Basic Information
      .card-body
        .row.mb-2
          .col-sm-4
            %strong Matchcode:
          .col-sm-8
            = @customer.matchcode

        .row.mb-2
          .col-sm-4
            %strong Name:
          .col-sm-8
            = @customer.name

        .row.mb-2
          .col-sm-4
            %strong Address:
          .col-sm-8
            - @customer.address.split("\n").each do |line|
              %div= line

        .row.mb-2
          .col-sm-4
            %strong Country:
          .col-sm-8
            - if country_unknown?(@customer.country_iso2)
              %span.badge.bg-warning.text-dark Not set
            - else
              = country_name(@customer.country_iso2)

        - if flash[:vat_verification_pending]
          - content_for :head do
            %meta{ "http-equiv" => "refresh", content: "3" }
        - if @customer.vat_id.present?
          - current_verification = @customer.current_vat_verification
          - verified_today = @customer.vat_id_verified_at&.to_date == Date.current
          .row.mb-2
            .col-sm-4
              %strong VAT ID:
            .col-sm-8.d-flex.align-items-center.gap-2
              = @customer.vat_id
              - if current_verification&.invalid_per_vies?
                %span.badge.bg-danger Invalid per VIES
              - elsif @customer.vat_id_verified_at
                %span.text-muted.small= "verified #{l(@customer.vat_id_verified_at.to_date)}"
              - else
                %span.badge.bg-warning Not verified
              - unless verified_today
                = button_to "Verify", verify_vat_id_customer_path(@customer),
                            method: :post,
                            class: "btn btn-sm btn-outline-secondary",
                            form: { class: "button_to ms-auto" }
        - else
          .row.mb-2
            .col-sm-4
              %strong VAT ID:
            .col-sm-8
              = @customer.vat_id

        - if @customer.supplier_number.present?
          .row.mb-2
            .col-sm-4
              %strong Supplier No.:
            .col-sm-8
              = @customer.supplier_number

        .row.mb-2
          .col-sm-4
            %strong Sales Tax Class:
          .col-sm-8
            = @customer.sales_tax_customer_class&.name

        .row.mb-2
          .col-sm-4
            %strong Language:
          .col-sm-8
            = @customer.language&.title

        .row.mb-2
          .col-sm-4
            %strong Team:
          .col-sm-8
            = @customer.team&.name

  .col-md-6
    .card
      .card-header
        Contact & Terms
      .card-body
        .row.mb-2
          .col-sm-4
            %strong Contacts:
          .col-sm-8
            = pluralize(@customer.customer_contacts.size, 'contact')
            - if @customer.customer_contacts.any?
              = link_to '(manage)', '#customer_contacts'

        .row.mb-2
          .col-sm-4
            %strong Payment Terms:
          .col-sm-8
            = @customer.payment_terms_days
            days


- if @customer.invoice_email_auto_enabled?
  .row.mt-4
    .col-md-12
      .card
        .card-header
          Automated Email Settings
        .card-body
          .row.mb-2
            .col-sm-3
              %strong Auto Email:
            .col-sm-9
              %span.badge.bg-success Enabled

          .row.mb-2
            .col-sm-3
              %strong To:
            .col-sm-9
              = @customer.invoice_email_auto_to

          .row.mb-2
            .col-sm-3
              %strong Subject Template:
            .col-sm-9
              = @customer.invoice_email_auto_subject_template

          .row.mb-2
            .col-sm-3
              %strong Contacts mode:
            .col-sm-9
              = @customer.invoice_email_auto_contact_mode_label

= render "customers/contacts_table", customer: @customer

.row.mt-4
  .col-md-12
    .card
      .card-header
        Offer settings
      .card-body
        .row.mb-2
          .col-sm-3
            %strong Validity:
          .col-sm-9
            = pluralize(@customer.offer_validity_days || IssuerCompany.get_the_issuer!.offer_validity_days, 'day')
            - if @customer.offer_validity_days.blank?
              %span.text-muted (issuer default)
        - if @customer.offer_milestone_split_threshold.present?
          .row.mb-2
            .col-sm-3
              %strong Milestone split threshold:
            .col-sm-9
              = format_currency(@customer.offer_milestone_split_threshold)
        - if @customer.offer_milestone_templates_below.present?
          .row.mb-2
            .col-sm-3
              %strong Template (below):
            .col-sm-9
              %pre.mb-0= @customer.offer_milestone_templates_below
        - if @customer.offer_milestone_templates_above.present?
          .row.mb-2
            .col-sm-3
              %strong Template (above):
            .col-sm-9
              %pre.mb-0= @customer.offer_milestone_templates_above
        - if @customer.offer_boilerplate.present?
          .row.mb-2
            .col-sm-3
              %strong Boilerplate:
            .col-sm-9
              = @customer.offer_boilerplate

- if @customer.notes.present?
  .row.mt-4
    .col-md-12
      .card
        .card-header
          Notes
        .card-body
          = simple_format(@customer.notes)
