- content_for :title, t('mailers.delivery_note.bulk_subject', issuer_name: @issuer.short_name, document_numbers: @delivery_notes.map(&:document_number).join(', '))

.greeting
  = t('mailers.delivery_note.greeting', customer_name: @customer.name)

.main-message
  = t('mailers.delivery_note.bulk_main_message', count: @delivery_notes.count)

.document-list
  %h5= t('mailers.delivery_note.bulk_document_list_title')
  - @delivery_notes.each do |delivery_note|
    .document-highlight.mb-3
      .document-number
        = t('mailers.delivery_note.document_number', document_number: delivery_note.document_number)
      - if delivery_note.cust_order.present?
        .document-detail
          #{t('mailers.delivery_note.order_label')} #{delivery_note.cust_order}
      - if delivery_note.cust_reference.present?
        .document-detail
          #{t('mailers.delivery_note.reference_label')} #{delivery_note.cust_reference}
      - if delivery_note.delivery_timeframe.present?
        .document-detail
          #{t('mailers.delivery_note.delivery_period_label')} #{delivery_note.delivery_timeframe}

.instructions
  %strong= t('mailers.delivery_note.next_steps_title')
  %ol
    - t('mailers.delivery_note.bulk_next_steps').each do |step|
      %li= step

.closing
  = t('mailers.delivery_note.closing')
