#{t('mailers.delivery_note.greeting', customer_name: @delivery_note.customer.name)}
\
#{t('mailers.delivery_note.main_message')}
\
#{t('mailers.delivery_note.document_number', document_number: @delivery_note.document_number)}
- if @delivery_note.cust_order.present?
  #{t('mailers.delivery_note.order_label')} #{@delivery_note.cust_order}
- if @delivery_note.cust_reference.present?
  #{t('mailers.delivery_note.reference_label')} #{@delivery_note.cust_reference}
- if @delivery_note.delivery_timeframe.present?
  #{t('mailers.delivery_note.delivery_period_label')} #{@delivery_note.delivery_timeframe}
\
#{t('mailers.delivery_note.next_steps_title')}
- t('mailers.delivery_note.next_steps').each_with_index do |step, index|
  #{index + 1}. #{step}
\
#{t('mailers.delivery_note.closing')}
