.fieldset
= simple_form_for(@project, :validation => true, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-6
        = f.label :matchcode
        = f.text_field :matchcode, :class => 'form-control'
    .row
      .col-sm-6
        = f.label :description
        = f.text_area :description, :class => 'form-control', :rows => 3
    .row
      .col-sm-3
        = f.label :time_budget
        = f.text_field :time_budget, :class => 'form-control'
    .row
      .col-sm-6
        = f.label :bill_to_customer_id
        = f.collection_select :bill_to_customer_id, Customer.all, :id, :name, {}, {:class => 'form-control'}

  %br

  = action_buttons_wrapper do
    = f.button :submit, :class => 'btn btn-primary'
    = cancel_button(@project)
