= page_header_with_new_button('Listing projects', new_project_path)

%table.table.table-striped.table-sm
  %tr
    %th Matchcode
    %th Description
    %th Time budget
    %th Bill to customer
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @projects.each do |project|
    %tr
      %td= project.matchcode
      %td= project.description
      %td= project.time_budget
      %td= project.bill_to_customer.try(:matchcode)
      %td= list_action_link('Show', project, :show)
      %td= list_action_link('Edit', edit_project_path(project), :edit)
      %td= destroy_link(project, "Are you sure you want to delete project \"#{project.matchcode}\"?")

