= page_header_with_new_button('Listing projects', new_project_path)

.mb-3
  .project-filter
    %nav{"aria-label" => "Project status filter"}
      %ul.pagination.pagination-sm.justify-content-start
        %li.page-item{class: (params[:active].blank? ? 'active' : '')}
          = link_to 'All', projects_path, class: 'page-link'
        %li.page-item{class: (params[:active] == 'true' ? 'active' : '')}
          = link_to 'Active', projects_path(active: true), class: 'page-link'
        %li.page-item{class: (params[:active] == 'false' ? 'active' : '')}
          = link_to 'Inactive', projects_path(active: false), class: 'page-link'

%table.table.table-striped.table-sm
  %tr
    %th Matchcode
    %th Description
    %th Time budget
    %th Bill to customer
    %th Status
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @projects.each do |project|
    %tr
      %td= project.matchcode
      %td= project.description
      %td= project.time_budget
      %td= project.bill_to_customer.try(:matchcode)
      %td
        - if project.active?
          %span.badge.bg-success Active
        - else
          %span.badge.bg-secondary Inactive
      %td= list_action_link('Show', project, :show)
      %td= list_action_link('Edit', edit_project_path(project), :edit)
      %td
        - if project.can_be_deleted?
          = destroy_link(project, "Are you sure you want to delete project \"#{project.matchcode}\"?")
        - else
          %span.text-muted.small Used

