= page_header_with_new_button('Listing projects', new_project_path)

.mb-3
  .btn-toolbar.mb-3{:role=>"toolbar", "aria-label"=>"List toolbar"}
    .btn-group.btn-group-sm.me-2.status-filter{:role=>"group", "aria-label"=>"Project status filter"}
      = link_to 'All', projects_path(filter: 'all'), class: (params[:filter] == 'all' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
      = link_to 'Active', projects_path(filter: 'active'), class: (params[:filter] == 'active' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')
      = link_to 'Inactive', projects_path(filter: 'inactive'), class: (params[:filter] == 'inactive' ? 'btn btn-outline-primary active' : 'btn btn-outline-primary')

%table.table.table-striped.table-sm
  %tr
    %th{:width => "10%"} Matchcode
    %th{:width => "30%"} Name
    %th{:width => "7%"} Status
    %th Time budget
    %th Bill to customer
    %th{:width => "3%"}
    %th{:width => "3%"}
    %th{:width => "3%"}

  - @projects.each do |project|
    %tr
      %td= project.matchcode
      %td= project.description
      %td
        - if project.active?
          %span.badge.bg-success Active
        - else
          %span.badge.bg-secondary Inactive
      %td= project.time_budget
      %td= project.bill_to_customer.try(:matchcode)
      %td= list_action_link('Show', project, :show)
      %td= list_action_link('Edit', edit_project_path(project), :edit)
      %td
        - if project.can_be_deleted?
          = destroy_link(project, "Are you sure you want to delete project \"#{project.matchcode}\"?")
        - else
          %span.text-muted.small Used
