%h1.page-header
  Project
  = @project.matchcode
%p
  %b Description:
  %blockquote
    = @project.description
%p
  %b Time budget:
  = @project.time_budget
%p
  %b Bill to customer:
  = @project.bill_to_customer.matchcode

= action_buttons_wrapper do
  = action_button 'Edit', edit_project_path(@project), :primary
  = action_button 'Back', projects_path, :secondary
