%h1.page-header
  Project
  = @project.matchcode
%p
  %b Description:
  %blockquote
    = @project.description
%p
  %b Time budget:
  = @project.time_budget
%p
  %b Bill to customer:
  = @project.bill_to_customer.matchcode

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
