= breadcrumbs ['Projects', projects_path], @project.matchcode
= page_header("Project #{@project.matchcode}", action: action_button('Edit', edit_project_path(@project), permission: 'projects.edit')) do
  - unless @project.active?
    %span.badge.bg-secondary.fs-6 Inactive

.row
  .col-md-8
    .card
      .card-header Project Information
      .card-body
        .row.mb-2
          .col-sm-3
            %strong Matchcode:
          .col-sm-9
            = @project.matchcode

        .row.mb-2
          .col-sm-3
            %strong Description:
          .col-sm-9
            = simple_format(@project.description)


        .row.mb-2
          .col-sm-3
            %strong Bill to Customer:
          .col-sm-9
            - if @project.bill_to_customer
              = @project.bill_to_customer.name
              %small.text-muted (#{@project.bill_to_customer.matchcode})
            - else
              %span.text-muted No customer (reusable project)

        .row.mb-2
          .col-sm-3
            %strong Team:
          .col-sm-9
            = @project.team&.name
