- content_for :title, 'My account'

= page_header('My account')

.row
  .col-md-6
    .card.mb-3
      .card-header Profile
      .card-body
        %dl.row.mb-0
          %dt.col-sm-4 Username
          %dd.col-sm-8= @user.username
          %dt.col-sm-4 Full name
          %dd.col-sm-8= @user.full_name
          %dt.col-sm-4 Member since
          %dd.col-sm-8= l(@user.created_at)
    .card.mb-3
      .card-header
        .d-flex.justify-content-between.align-items-center
          %span Emails
          = link_to 'Manage', account_emails_path, class: 'btn btn-sm btn-outline-primary'
      %ul.list-group.list-group-flush
        - @emails.each do |email|
          %li.list-group-item
            = email.address
            - if email.confirmed?
              %span.badge.bg-success.ms-2 Confirmed
            - else
              %span.badge.bg-warning.ms-2 Pending
    .card.mb-3
      .card-header
        .d-flex.justify-content-between.align-items-center
          %span Passkeys
          = link_to 'Manage', account_credentials_path, class: 'btn btn-sm btn-outline-primary'
      %ul.list-group.list-group-flush
        - @credentials.each do |cred|
          %li.list-group-item
            = cred.nickname
            %span.text-muted.ms-2.small
              - if cred.last_used_at
                Last used #{l(cred.last_used_at)}
              - else
                Never used
    .card.mb-3
      .card-header
        Groups
        %span.badge.bg-secondary.ms-1= @user_groups.size
      %ul.list-group.list-group-flush
        - if @user_groups.empty?
          %li.list-group-item.text-muted No groups
        - else
          - @user_groups.each do |group|
            %li.list-group-item
              = group.name
              - if group.builtin?
                %span.badge.bg-secondary.ms-1 built-in
    .card.mb-3
      .card-header
        Teams
        %span.badge.bg-secondary.ms-1= @user_teams.size
      %ul.list-group.list-group-flush
        - if @user_teams.empty?
          %li.list-group-item.text-muted No teams
        - else
          - @user_teams.each do |team|
            %li.list-group-item
              = team.name
              - if team.builtin?
                %span.badge.bg-secondary.ms-1 built-in
    .card
      .card-header.bg-danger.text-white Danger zone
      .card-body
        %p Self-block disables your account, terminates all your sessions, and prevents you from signing in. An administrator can re-enable your account.
        = button_to 'Block my account', account_block_path, method: :post,
            data: { turbo_confirm: 'Are you sure? This will sign you out and block your account.' },
            class: 'btn btn-danger'
  .col-md-6
    .card.mb-3
      .card-header
        .d-flex.justify-content-between.align-items-center
          %span Active sessions
          = link_to 'Manage', account_sessions_path, class: 'btn btn-sm btn-outline-primary'
      %ul.list-group.list-group-flush
        - @sessions.each do |s|
          %li.list-group-item
            %div
              %code.small= s.ip_address
              - if current_user_session && current_user_session.id == s.id
                %span.badge.bg-info.ms-2 This session
            .small.text-muted= s.user_agent.to_s.truncate(80)
            .small.text-muted Last seen: #{l(s.last_seen_at)}
    .card.mb-3
      .card-header
        .d-flex.justify-content-between.align-items-center
          %span Recent activity
          = link_to 'View all', account_audit_events_path, class: 'btn btn-sm btn-outline-primary'
      %ul.list-group.list-group-flush
        - @audit_events.each do |event|
          %li.list-group-item
            %code= event.action
            %span.text-muted.ms-2.small= l(event.created_at)
