= simple_form_for(@<%= singular_table_name %>, :validation => true, :html => {:class => 'form-horizontal' }) do |f|
  - if @<%= singular_table_name %>.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@<%= singular_table_name %>.errors.count, 'error')
        prohibited saving:
      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .form-actions
    = f.button :submit
