= simple_form_for(@sales_tax_rate, :validation => true, :html => {:class => 'form-horizontal'}) do |f|
  - if @sales_tax_rate.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@sales_tax_rate.errors.count, 'error')
        prohibited saving:
      %ul
        - @sales_tax_rate.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    .row.mb-3
      = f.label :sales_tax_customer_class_id, "Customer Class", class: 'col-sm-3 col-form-label'
      .col-sm-9
        = f.collection_select :sales_tax_customer_class_id, SalesTaxCustomerClass.all, :id, :name, { prompt: 'Select customer class...' }, {:class => 'form-select', :required => true}
    .row.mb-3
      = f.label :sales_tax_product_class_id, "Product Class", class: 'col-sm-3 col-form-label'
      .col-sm-9
        = f.collection_select :sales_tax_product_class_id, SalesTaxProductClass.all, :id, :name, { prompt: 'Select product class...' }, {:class => 'form-select', :required => true}
    .row.mb-3
      = f.label :rate, class: 'col-sm-3 col-form-label'
      .col-sm-9
        .input-group
          = f.number_field :rate, :class => 'form-control', :step => 0.01
          %span.input-group-text %

  %br

  = action_buttons_wrapper do
    = f.button :submit, :class => 'btn btn-primary'
    = action_button 'Cancel', sales_tax_rates_path, :secondary
