- customer_classes_action = nav_button('Customer Classes', sales_tax_customer_classes_path)
- product_classes_action = nav_button('Product Classes', sales_tax_product_classes_path)
= breadcrumbs 'Configuration', 'Sales Tax', actions: [customer_classes_action, product_classes_action], action: action_button('+ New', new_sales_tax_rate_path, permission: 'sales_tax.edit')

%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th{:width=>"30%"} Customer class
      %th{:width=>"30%"} Product class
      %th{:width=>"30%"} Rate
      %th
      %th

  - @sales_tax_rates.each do |sales_tax_rate|
    %tr
      %td= sales_tax_rate.sales_tax_customer_class.try(:name)
      %td= sales_tax_rate.sales_tax_product_class.try(:name)
      %td
        = sales_tax_rate.rate
        \%
      %td
        = list_action_link('Edit', edit_sales_tax_rate_path(sales_tax_rate), :edit, permission: 'sales_tax.edit')
      %td
        = destroy_link(sales_tax_rate, "Are you sure you want to delete tax rate for \"#{sales_tax_rate.sales_tax_customer_class&.name}\" / \"#{sales_tax_rate.sales_tax_product_class&.name}\"?", permission: 'sales_tax.edit')

- if @sales_tax_rates.empty?
  %p
    You don't seem to have a sales tax setup right now.
  %p
    Start by creating
    %a{:href => new_sales_tax_product_class_path}< product classes
    and then
    %a{:href => new_sales_tax_customer_class_path}< customer classes.
  %p
    When you have both, create tax rates for them.

- else
  - if @missing_rates.empty?
    %p.text-success
      Your sales tax setup looks good.

  - else
    %h2 Missing tax rates
    %p.text-error
      You should create these tax rates:

    %table.table.table-striped.table-hover.table-sm
      %thead
        %tr
          %th{:width=>"30%"} Customer class
          %th{:width=>"30%"} Product class
          %th{:width=>"30%"} Rate
          %th
          %th
      - @missing_rates.each do |missing_rate|
        %tr
          %td
            = missing_rate[:customer].name
          %td
            = missing_rate[:product].name
          %td{:colspan => 3}
            = form_with model: SalesTaxRate.new(sales_tax_customer_class_id: missing_rate[:customer].id, sales_tax_product_class_id: missing_rate[:product].id), local: true, class: 'd-flex align-items-center gap-2' do |f|
              = f.hidden_field :sales_tax_customer_class_id
              = f.hidden_field :sales_tax_product_class_id
              .input-group.w-auto
                = f.number_field :rate, class: 'form-control', step: 0.01, required: true
                %span.input-group-text %
              = f.submit 'Create', class: 'btn btn-primary'
