- delete_action = delete_button(@sales_tax_rate, confirm: "Are you sure you want to delete tax rate for \"#{@sales_tax_rate.sales_tax_customer_class&.name}\" / \"#{@sales_tax_rate.sales_tax_product_class&.name}\"?", permission: 'sales_tax.edit')
- edit_action = action_button('Edit', edit_sales_tax_rate_path(@sales_tax_rate), permission: 'sales_tax.edit')
= breadcrumbs ['Configuration', configuration_path], ['Sales Tax', sales_tax_rates_path], "#{@sales_tax_rate.sales_tax_customer_class&.name} / #{@sales_tax_rate.sales_tax_product_class&.name}", actions: [delete_action], action: edit_action

.row
  .col-md-8
    .card
      .card-header
        Tax Rate
      .card-body
        .row.mb-2
          .col-sm-3
            %strong Customer class:
          .col-sm-9
            - if @sales_tax_rate.sales_tax_customer_class
              = link_to @sales_tax_rate.sales_tax_customer_class.name, @sales_tax_rate.sales_tax_customer_class

        .row.mb-2
          .col-sm-3
            %strong Product class:
          .col-sm-9
            - if @sales_tax_rate.sales_tax_product_class
              = link_to @sales_tax_rate.sales_tax_product_class.name, @sales_tax_rate.sales_tax_product_class

        .row.mb-2
          .col-sm-3
            %strong Rate:
          .col-sm-9
            = @sales_tax_rate.rate
            \%
