%p
  %b Sales tax customer class:
  = @sales_tax_rate.sales_tax_customer_class_id
%p
  %b Sales tax product class:
  = @sales_tax_rate.sales_tax_product_class_id
%p
  %b Rate:
  = @sales_tax_rate.rate

= action_buttons_wrapper do
  = action_button 'Edit', edit_sales_tax_rate_path(@sales_tax_rate), :primary
  = action_button 'Back', sales_tax_rate_path, :secondary
