= t('mailers.vat_verifications_report.heading', date: l(@today))
\
- if @newly_invalid.any?
  = t('mailers.vat_verifications_report.newly_invalid_heading', count: @newly_invalid.size)
  = t('mailers.vat_verifications_report.newly_invalid_main_message')
  \
  - @newly_invalid.each do |v|
    - prior = @prior_states[v.id]
    - state = prior[:kind] == :was_valid ? t('mailers.vat_verifications_report.prior_state.was_valid', date: l(prior[:date])) : t('mailers.vat_verifications_report.prior_state.first_ever')
    = "#{v.customer.matchcode}  #{v.vat_id}  #{l(v.created_at.to_date)}  #{state}"
  \

- if @stuck_unavailable.any?
  = t('mailers.vat_verifications_report.stuck_unavailable_heading', count: @stuck_unavailable.size)
  = t('mailers.vat_verifications_report.stuck_unavailable_main_message')
  \
  - @stuck_unavailable.each do |v|
    = "#{v.customer.matchcode}  #{v.vat_id}  #{l(v.created_at.to_date)}  #{v.error_code}"
