<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, 'error') %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, {:class => 'form-control', :required => true} %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, {:class => 'form-control', :rows => 4} %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <%= f.label :rate %>
                <%= f.number_field :rate, {:class => 'form-control', :required => true} %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <%= f.label :sales_tax_product_class_id %>
                <%= f.collection_select :sales_tax_product_class_id, SalesTaxProductClass.all, :id, :name, {}, {:class => 'form-control', :required => true} %>
            </div>
        </div>
    </div>
    <br>
    <div class="form-actions">
        <hr>
        <%= f.submit %>
    </div>
<% end %>
