.fieldset
= simple_form_for(@product, :validation => true, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-12
        = f.label :title
        = f.text_field :title, {:class => 'form-control', :required => true}
    .row
      .col-sm-12
        = f.label :description
        = f.text_area :description, {:class => 'form-control', :rows => 4}

    .row
      .col-sm-4
        = f.label :rate
        = f.number_field :rate, {:class => 'form-control', :required => true}
      .col-sm-4
        = f.label :sales_tax_product_class_id
        = f.collection_select :sales_tax_product_class_id, SalesTaxProductClass.all, :id, :name, {}, {:class => 'form-control', :required => true}

  %br

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to 'Cancel', @product, :class => "btn btn-secondary"
