= page_header_with_new_button('Listing products', new_product_path)

%table.table.table-striped.table-sm
  %tr
    %th Title
    %th Rate
    %th Product Class
    %th{width: "3%"}
    %th{width: "3%"}
    %th{width: "3%"}

  - @products.each do |product|
    %tr
      %td= product.title
      %td= format_currency(product.rate)
      %td= product.sales_tax_product_class && product.sales_tax_product_class.name
      %td= list_action_link('Show', product, :show)
      %td= list_action_link('Edit', edit_product_path(product), :edit)
      %td= destroy_link(product, "Are you sure you want to delete product \"#{product.title}\"?")

