= breadcrumbs 'Configuration', 'Product Catalog'
= page_header('Listing products', action: action_button('+ New', new_product_path, :info, permission: 'products.edit'))

%table.table.table-striped.table-sm
  %tr
    %th Title
    %th Rate
    %th Product Class
    %th{width: "3%"}
    %th{width: "3%"}

  - @products.each do |product|
    %tr
      %td= link_to (product.title || "\##{product.id}"), product
      %td= format_currency(product.rate)
      %td= product.sales_tax_product_class && product.sales_tax_product_class.name
      %td
        - if can?('products.edit')
          = list_action_link('Edit', edit_product_path(product), :edit)
      %td
        - if can?('products.edit')
          = destroy_link(product, "Are you sure you want to delete product \"#{product.title}\"?")
