%h1.page-header
  Product "#{@product.title}"

%p
  %b Description:
  %blockquote
    = @product.description

%p
  %b Rate:
  = format_currency(@product.rate)

%p
  %b Sales tax product class:
  = @product.sales_tax_product_class.name

= action_buttons_wrapper do
  = action_button 'Edit', edit_product_path(@product), :primary
  = action_button 'Back', products_path, :secondary