<h1 class="page-header">Product "<%= @product.title %>"</h1>

<p>
  <b>Description:</b>
  <blockquote>
    <%= @product.description %>
  </blockquote>
</p>

<p>
  <b>Rate:</b>
  <%= format_currency(@product.rate) %>
</p>

<p>
  <b>Sales tax product class:</b>
  <%= @product.sales_tax_product_class.name %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
