= link_to "ABT", root_path, :class => 'navbar-brand'
%button.navbar-toggler{:type => "button", :"data-navbar-target" => "toggle", :"data-action" => "click->navbar#toggle"}
  %span.navbar-toggler-icon
.collapse.navbar-collapse{"data-navbar-target" => "menu"}
  %ul.navbar-nav.me-auto
    %li.nav-item
      = link_to('Customers', customers_path, :class => 'nav-link')
    %li.nav-item
      = link_to('Projects', projects_path, :class => 'nav-link')
    %li.nav-item
      = link_to('Catalog', products_path, :class => 'nav-link')
    %li.nav-item
      = link_to('Invoices', invoices_path, :class => 'nav-link')
  %ul.navbar-nav
    %li.nav-item.dropdown{"data-controller" => "navbar"}
      %a.nav-link.dropdown-toggle{:href => "#", :role => "button", :"data-navbar-target" => "toggle", :"data-action" => "click->navbar#toggle"}
        Configuration
      %ul.dropdown-menu{"data-navbar-target" => "menu"}
        %li
          = link_to('Sales Tax', sales_tax_rates_path, :class => 'dropdown-item')

-#  - if user_signed_in?
-#    %li
-#      = link_to('Logout', destroy_user_session_path, :method=>'delete')
-#  - else
-#    %li
-#      = link_to('Login', new_user_session_path)
-#  - if user_signed_in?
-#    %li
-#      = link_to('Edit account', edit_user_registration_path)
-#  - else
-#    %li
-#      = link_to('Sign up', new_user_registration_path)
-#
