= link_to "ABT", root_path, :class => 'navbar-brand'
- if Current.user
  %button.navbar-toggler{:type => "button", :"data-navbar-target" => "toggle", :"data-action" => "click->navbar#toggle"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse{"data-navbar-target" => "menu"}
    %ul.navbar-nav.me-auto
      - if can?('customers.view')
        %li.nav-item
          = nav_link_to('Customers', customers_path, active_for: 'customers')
      - if can?('projects.view')
        %li.nav-item
          = nav_link_to('Projects', projects_path, active_for: 'projects')
      - if can?('offers.view')
        %li.nav-item
          = nav_link_to('Offers', offers_path, active_for: 'offers')
      - if can?('delivery_notes.view')
        %li.nav-item
          = nav_link_to('Deliveries', delivery_notes_path, active_for: 'delivery_notes')
      - if can?('invoices.view')
        %li.nav-item
          = nav_link_to('Invoices', invoices_path, active_for: 'invoices')
    %ul.navbar-nav
      %li.nav-item.dropdown.initially-hidden{"data-controller" => "error-notification", "data-error-notification-max-errors-value" => "5", "data-error-notification-target" => "icon"}
        %a.nav-link{:href => "#", :role => "button", :"data-action" => "click->error-notification#toggle"}
          %span.badge.rounded-pill.bg-danger{"data-error-notification-target" => "badge"}
        %ul.dropdown-menu.dropdown-menu-end.error-notification-dropdown{"data-error-notification-target" => "dropdown", "data-action" => "click->error-notification#preventClose"}
          %li.dropdown-header.px-3.py-2
            .d-flex.justify-content-between.align-items-center
              %span.fw-bold Recent Errors
              %button.btn.btn-sm.btn-outline-danger.error-notification-clear-all{"data-action" => "click->error-notification#clearAll", :type => "button"} Clear All
          %li
            %hr.dropdown-divider
          %ul.list-unstyled.mb-0{"data-error-notification-target" => "list"}
      - config_controllers = %w[issuer_companies products sales_tax_rates users groups teams jobs_status]
      - if ConfigurationsController::PERMS.any? { |p| can?(p) }
        %li.nav-item
          = nav_link_to(nil, configuration_path, active_for: config_controllers) do
            %span.d-inline.d-sm-none.me-1
              = nav_icon(:gear)
            Configuration
      %li.nav-item
        = nav_link_to(nil, account_profile_path, active_for: 'account') do
          %span.d-inline.d-sm-none.me-1
            = nav_icon(:person)
          = Current.user.username
      %li.nav-item
        = sign_out_button
