!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : page_title
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicon.svg', type: 'image/svg+xml'
    %link{rel: 'icon', type: 'image/x-icon', href: '/favicon.ico'}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_importmap_tags
    = yield :head
  %body.d-flex.flex-column.min-vh-100
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top{"data-controller" => "navbar"}
      .container-fluid
        = render 'layouts/navigation'
    %main#main{:role => "main", :class => "flex-grow-1"}
      .container
        .content
          = render 'layouts/messages'
          = content_for?(:content) ? yield(:content) : yield
    %footer.footer.mt-auto
      .container
        %p.mb-0.text-center
          &copy; 2014-2025 Deduktiva GmbH
          %span.text-muted.ms-3
            = app_version
