!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : page_title
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicon.svg', type: 'image/svg+xml'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_importmap_tags
    :javascript
      // Automatically use browser's dark mode preference
      (function() {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = prefersDark ? 'dark' : 'light';
        document.documentElement.setAttribute('data-bs-theme', theme);

        // Listen for changes to the browser's color scheme preference
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', function(e) {
          const newTheme = e.matches ? 'dark' : 'light';
          document.documentElement.setAttribute('data-bs-theme', newTheme);
        });
      })();
    = yield :head
  %body.d-flex.flex-column.min-vh-100
    %nav.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top{"data-controller" => "navbar"}
      .container-fluid
        = render 'layouts/navigation'
    %main#main{:role => "main", :class => "flex-grow-1"}
      .container
        .content
          = render 'layouts/messages'
          = content_for?(:content) ? yield(:content) : yield
    %footer.footer.mt-auto
      .container
        %p.mb-0.text-center
          &copy; 2014-2025 Deduktiva GmbH
          %span.text-muted.ms-3
            = app_version
