!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : @issuer&.short_name
    %meta{name: "robots", content: "noindex, nofollow"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all"
    - if @issuer&.document_accent_color.present?
      = tag.style ":root { --issuer-accent-color: #{@issuer.document_accent_color}; }", nonce: content_security_policy_nonce
  %body.d-flex.flex-column.min-vh-100
    %main.flex-grow-1
      .container.py-5.customer-portal-container
        - if @issuer&.png_logo.present?
          .mb-4= image_tag "data:image/png;base64,#{Base64.strict_encode64(@issuer.png_logo)}", alt: @issuer.short_name, class: "customer-portal-logo"
        = yield
    %footer.footer.mt-auto.py-3
      .container.text-center.text-muted.customer-portal-container
        - name = @issuer&.legal_name.presence || @issuer&.short_name
        - if @issuer&.website_url.present?
          = link_to name, @issuer.website_url, target: "_blank", rel: "noopener noreferrer"
        - else
          = name
